USE [dbplacar]
GO
/****** Object:  Table [dbo].[MOV_JOGO]    Script Date: 06/14/2011 22:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOV_JOGO](
	[cod_jogo] [int] IDENTITY(1,1) NOT NULL,
	[dtjogo] [datetime] NOT NULL,
	[cod_equipe1] [int] NOT NULL,
	[equipe1_faltas] [int] NOT NULL,
	[equipe1_substituicoes] [int] NOT NULL,
	[equipe1_tempos] [int] NOT NULL,
	[equipe1_pontuacao] [int] NOT NULL,
	[equipe1_jogador1_pontos] [int] NOT NULL,
	[equipe1_jogador1_faltas] [int] NOT NULL,
	[equipe1_jogador2_pontos] [int] NOT NULL,
	[equipe1_jogador2_faltas] [int] NOT NULL,
	[equipe1_jogador3_pontos] [int] NOT NULL,
	[equipe1_jogador3_faltas] [nchar](10) COLLATE Latin1_General_CI_AS NOT NULL,
	[equipe1_jogador4_pontos] [int] NOT NULL,
	[equipe1_jogador4_faltas] [int] NOT NULL,
	[equipe1_jogador5_pontos] [int] NOT NULL,
	[equipe1_jogador5_faltas] [int] NOT NULL,
	[equipe1_jogador6_pontos] [int] NOT NULL,
	[equipe1_jogador6_faltas] [int] NOT NULL,
	[equipe1_jogador7_pontos] [int] NOT NULL,
	[equipe1_jogador7_faltas] [int] NOT NULL,
	[equipe1_jogador8_pontos] [int] NOT NULL,
	[equipe1_jogador8_faltas] [int] NOT NULL,
	[equipe1_jogador9_pontos] [int] NOT NULL,
	[equipe1_jogador9_faltas] [int] NOT NULL,
	[equipe1_jogador10_pontos] [int] NOT NULL,
	[equipe1_jogador10_faltas] [int] NOT NULL,
	[equipe1_jogador11_pontos] [int] NOT NULL,
	[equipe1_jogador11_faltas] [int] NOT NULL,
	[equipe1_jogador12_pontos] [int] NOT NULL,
	[equipe1_jogador12_faltas] [int] NOT NULL,
	[equipe1_jogador13_pontos] [int] NOT NULL,
	[equipe1_jogador13_faltas] [int] NOT NULL,
	[equipe1_jogador14_pontos] [int] NOT NULL,
	[equipe1_jogador14_faltas] [int] NOT NULL,
	[equipe1_jogador15_pontos] [int] NOT NULL,
	[equipe1_jogador15_faltas] [nchar](10) COLLATE Latin1_General_CI_AS NOT NULL,
	[cod_equipe2] [int] NOT NULL,
	[equipe2_jogador1_pontos] [int] NOT NULL,
	[equipe2_jogador1_faltas] [int] NOT NULL,
	[equipe2_jogador2_pontos] [int] NOT NULL,
	[equipe2_jogador2_faltas] [int] NOT NULL,
	[equipe2_jogador3_pontos] [int] NOT NULL,
	[equipe2_jogador3_faltas] [int] NOT NULL,
	[equipe2_jogador4_pontos] [int] NOT NULL,
	[equipe2_jogador4_faltas] [int] NOT NULL,
	[equipe2_jogador5_pontos] [int] NOT NULL,
	[equipe2_jogador5_faltas] [int] NOT NULL,
	[equipe2_jogador6_pontos] [int] NOT NULL,
	[equipe2_jogador6_faltas] [int] NOT NULL,
	[equipe2_jogador7_pontos] [int] NOT NULL,
	[equipe2_jogador7_faltas] [int] NOT NULL,
	[equipe2_jogador8_pontos] [int] NOT NULL,
	[equipe2_jogador8_faltas] [int] NOT NULL,
	[equipe2_jogador9_pontos] [int] NOT NULL,
	[equipe2_jogador9_faltas] [int] NOT NULL,
	[equipe2_jogador10_pontos] [int] NOT NULL,
	[equipe2_jogador10_faltas] [int] NOT NULL,
	[equipe2_jogador11_pontos] [int] NOT NULL,
	[equipe2_jogador11_faltas] [int] NOT NULL,
	[equipe2_jogador12_pontos] [int] NOT NULL,
	[equipe2_jogador12_faltas] [int] NOT NULL,
	[equipe2_jogador13_pontos] [int] NOT NULL,
	[equipe2_jogador13_faltas] [int] NOT NULL,
	[equipe2_jogador14_pontos] [int] NOT NULL,
	[equipe2_jogador14_faltas] [int] NOT NULL,
	[equipe2_jogador15_pontos] [int] NOT NULL,
	[equipe2_jogador15_faltas] [int] NOT NULL
) ON [PRIMARY]
